.container {
    min-height: 90vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(67,209,175,0.5);
    background: radial-gradient(circle, rgba(67,209,175,0.5) 0%, rgba(40,44,52,0.5) 100%);
}

.form {
    padding: 20px;
    border-radius: 30px;
    min-height: 60vh;
    min-width: 40vw;
    display: flex;
    justify-content: center;
}

.form-input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    background: #fff;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
}

.form-input:focus {
	box-shadow: 0 0 12px rgb(29, 228, 181);
	padding: 2%;
	border: 1px solid rgb(29, 228, 181);
}

.rules-paragraph {
    font-size: 1.2rem;
}

.input-wrap {
    width: 80%;
    text-align: center;
    color: #282c34;
}

.withdraw-button {
    margin: 20px;
    padding: 2%;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    background-color: rgba(40,44,52,1);
    color: #fff;
}

.positive-result {
    font-size: 1.8rem;
    color: rgb(21, 78, 26, 1);
}

.notes-amount {
    font-size: 1.5rem;
    color: rgb(21, 78, 26, 1);
}

.negative-result {
    font-size: 1.8rem;
    color: rgb(117, 25, 25);
}